
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@keyframes header {
    from {top: 0;}
    to {top: 20%;}
}
header {
	order: 1;
  margin: 0px;
  background-color:rgba(6, 21, 44, 1);
  padding: 20px;
  color: white;
	animation-name: header;
	animation-duration: 1s;
}

@keyframes h1 {
    from {left: 0;}
    to {left: 20%;}
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	padding: 4px;
	color: white;
	background-color: black;
}
h1,h2 {
	order: 4;
  margin-top: 10px;
  color: white;
	animation-name: h1;
	animation-duration: 1s;
}
body, html {
  /*background-image: url(./tic-tac.png);*/
	order: 2;
  background-color: rgba(255,255,255,0.1);
  margin: 0px;
  font-family: 'lato';
  font-size: 20px;
  background-color: #;
  text-align: center;
	height: 100%;
}
@keyframes features {
    from {left: 0px;}
    to {right: 51%;}
}
@keyframes tutorial {
    from {left: 0;}
    to {left: 37%;}
}

@keyframes section {
    from {top: 0;}
    to {top: 25%;}
}

@keyframes sectionOut {
    from {left: 40%;}
    to {left: 100%;}
}

button,#submit,#regSubmit {
  border: 1px solid black;
  background-color: white;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
  color: black;
}
section {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #262626;
  width: 20%;
  height: 30%;
  position: fixed;
  left: 40%;
  top: 25%;
	animation-name: section;
	animation-duration: 0.8s;
}
#registerSection {

    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #262626;
    width: 20%;
    height: 50%;
    position: fixed;
    left: 40%;


}
#tutorial {
    position: fixed;
    left: 37%;
    top:48%;
    text-decoration: none;
    color: initial;
    border: 1px solid black;
    margin: 100px;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 7px;
		animation-name: tutorial;
		animation-duration: 2s;
}
label {
  color: white;
  margin: 7px;
  /* padding: 40px 10px 10px 10px; */
}
input {
  margin: 7px;
}
#loginForm {

	color: #666666;
	margin: 0px;
}
form {
	color: #666666;
	margin: 0px;
}
#features {
  background-color: black;
  color: white;
  position: fixed;
  top: 56.5%;
  padding: 7px;
  left: 51%;
	animation-name: features;
	animation-duration: 2s;
}
#firstname,#lastname,#username,#password,#email,#password {
  color: black;
}
#register {
  text-decoration: none;
  color: initial;
  border: 1px solid black;
  background-color: white;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
}

#submit:hover{
  background-color: black;
  color: white;
}
#regSubmit:hover{
  color: white;
  background-color:black;
}
#register:hover{
  background-color: black;
  color: white;
}
button:hover{
  background-color: black;
  color: white;
}
